NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_CONTRACT_ADDRESS=bd6d4c84cd0e28ad996f2a84c7b21a94dd972a6a31b9817b981769c0ae4e9135
NEXT_PUBLIC_MIDNIGHT_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
NEXT_PUBLIC_MIDNIGHT_PROOF_SERVER_URL=http://localhost:6300
